<div class="container" style="margin-top: 10px">
<p>このサイトのオリジナルタロットカードは、池袋コミュニティカレッジ「思考ツールとしてのタロット」（講師:米光一成）において講座生が作成したものです。</p>
<a href="http://blog.lv99.com/?eid=1081716" class="btn btn-success btn-xs" target="_blank">「思考ツールとしてのタロット」について</a>
</div>