<h1><%= @tarot.name %> カード編集</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-md-offset-2 col-md-10">
    <%= link_to '戻る', tarot_cards_path(@tarot, @card), class: 'btn btn-default' %>
  </div>
</div>
